/base64.js
/between.js
/callback.js
/choice.js
/creditCard.js
/cvv.js
/date.js
/different.js
/digits.js
/emailAddress.js
/greaterThan.js
/hexColor.js
/identical.js
/ip.js
/isbn.js
/lessThan.js
/mac.js
/notEmpty.js
/phone.js
/regexp.js
/remote.js
/step.js
/stringLength.js
/uri.js
/zipCode.js
/.gitignore
